# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.antigravity
